<!-- /app/templates/auth/reset_password.html -->
{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mt-5">Reset Password</h2>
    <form method="POST" action="{{ url_for('auth.reset_password') }}" class="mt-4">
        {{ form.hidden_tag() }}

        <!-- New Password Field -->
        <div class="form-group">
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(class="form-control", id="password", placeholder="Enter your new password") }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group">
            <label for="confirm_password">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password(class="form-control", id="confirm_password", placeholder="Confirm your new password") }}
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <!-- Submit Button -->
        <div class="form-group text-center mt-3">
            <button type="submit" class="btn btn-secondary">{{ form.submit() }}</button>
        </div>
    </form>
</div>
{% endblock %}