# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
*.egg

# Environment variables
.env

# Pytest
.cache

# IDEs and editors
.vscode/
.idea/
*.swp
*~ 
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Coverage reports
.coverage
htmlcov/

# Miscellaneous
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Test and build artifacts
test_output/